body{
  text-align:center;
  background-color:black;
  
}
img{
  width:100px;
    height: 100px;
    border-radius: 50%;

}
h2{
  color:white;
  font-family:cursive;
}
h3{
  color:white;
}
p{
 color:white;
  font-family:cursive;
}
#bio{
    padding: 20px;
    font-size: 22;
}
.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: white;
}
.link{
 color: white;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}
.link:hover{
    background: red;
}
#welcome{
    padding: 70px;
    text-align: center;
}
h1{
    color: white;
}
